<div class="row">
  <div class="col-md-4">
    <h3>{{'bookList' | translate}}</h3>
  </div>

  <div class="col-md-4">
    <input type="text" class="form-control" [placeholder]="'filterBooks' | translate" name="title"
      [(ngModel)]="filterBooks" (input)="handleFilterTitle()">
  </div>

  <div class="col-md-4 text-end">
    <button type="button" class="btn btn-primary" (click)="exportExcel()" *ngIf="books.length > 0">
      <i class="fa-solid fa-download"></i>
    </button>
    &nbsp;
    <button type="button" class="btn btn-primary" routerLink="/nuevo-libro">{{'add' | translate}}</button>
  </div>
</div>

<table class="table table-striped mt-3" *ngIf="books.length > 0">
  <thead>
    <tr>
      <th scope="col">{{'title' | translate}}</th>
      <th scope="col">{{'author' | translate}}</th>
      <th scope="col">{{'editorial' | translate}}</th>
      <th scope="col">{{'category' | translate}}</th>
      <th scope="col">{{'publishing' | translate}}</th>
      <th scope="col">{{'read' | translate}}</th>
      <th scope="col">{{'actions' | translate}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of booksToShow | slice: (page-1) * pageSize : page * pageSize">
      <td>{{book.title}}</td>
      <td>{{book.author}}</td>
      <td>{{book.editorial}}</td>
      <td>{{book.category}}</td>
      <td>{{book.year}}</td>
      <td>{{book.read === true ? 'Si' : 'No'}}</td>
      <td>
        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modal"
          (click)="setIdBookToDelete(book.id)">
          <i class="fa-solid fa-trash"></i>
        </button>
        &nbsp;
        <button type="button" class="btn btn-success btn-sm" routerLink="/editar-libro/{{book.id}}">
          <i class="fa-solid fa-pencil"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<ngb-pagination [collectionSize]="booksToShow.length" [pageSize]="pageSize" [(page)]="page"
  aria-label="Pagination" *ngIf="books.length > 0">
</ngb-pagination>

<app-book-modal id={{idBook}} (bookModalEvent)="reloadTable($event)"></app-book-modal>